
#header {
	margin: auto;
	width: 25em;
}

h1 {
	color:cornflowerblue;
	font-size: 36px;
}
body {
	
}
#lorem {
	margin: auto;
	text-align: left;
	line-height: 1.3;
	width: 25em;
}


span {
	color:cornflowerblue;
}

hr {
    border: 0;
    width: 25em;
    border-bottom: 1px dashed #ccc;
    background: #999;
    opacity: 0.5;
}